@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');


$brand-color: #458FF6;
$text-color : #000;
$tex-abu: #7D7987;

$font-primary: 'Mulish', sans-serif;

body {
  font-family: $font-primary;
  background-color: #fff;
}

.divider {
  width: 85px;
  height: 3px;
  background-color: $text-color;
}

.btn-second {
  padding: 10px 51px;
  border-radius: 55px;
  border: 2px solid $brand-color;
  font-weight: 700;
  color: $brand-color;

  &:hover {
    background-color: $brand-color;
    color: #fff;
    transition: .3s;
  }
}

.btn-download {
  padding: 10px 51px;
  border-radius: 55px;
  border: 2px solid $brand-color;
  font-weight: 700;
  color: $brand-color;

  &:hover {
    background-color: $brand-color;
    color: #fff;
    transition: .3s;
  }

  &:hover img {
    filter: grayscale(100%) brightness(200%);
  }

  
}

.navbar-light .brand {
  color: #233348;
  font-size: 24px;
}

.nav-link {
  font-size: 18px;
}

.nav-link.active {
  color: $text-color;
  font-weight: 700;
}

.nav-link:hover {
  color: $text-color !important;
}

.navbar-nav {
  width: 58%;
  justify-content: space-around;
}


.section-hero {
  margin-top: 85px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url(assets/element.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 114px;
    height: 115px;
    top: -20%;
    left: 0;
  }
}


.hero {
  .title-text {
    font-size: 48px;
    color: $text-color;
    margin-bottom: 25px;
    font-weight: 800;
  }

  .sub-title {
    color: $tex-abu;
    font-size: 21px;
    margin-bottom: 45px;
  }

  .cta {
    border-radius: 55px;
    background-color: $brand-color;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    padding: 10px 40px !important;
    color: #fff;
  }
}



.services {
  position: relative;
  margin-top: 180px;

  .title-our {
    color: $text-color;
    font-weight: 700;
    font-size: 36px;
  }

  .sub-our {
    color: $tex-abu;
    font-size: 18px;
    font-weight: 300;
  }

  // select all class yg memiliki nilai col, karna bs kan col-whatever, nah biar gampang select kata col nya aja
  [class*="col"] {
    padding: 5px 50px;
  }

  .service {
    box-shadow: 10px 40px 50px 0px #E5E9F666;
    border-radius: 20px;
    padding: 54px 45px 45px 39px;
    width: 350px;
    background-color: #fff;
  }


  .service-title {
    color: $text-color;
    font-size: 24px;
    font-weight: 700;
  }

  .desc-service {
    color: $tex-abu;
    font-weight: 400;
  }


  .blob {
    position: absolute;
    z-index: -1;
  }
}

.section-one {
  margin-top: 200px;

  .title {
    font-size: 36px;
  }

  .desc {
    font-size: 18px;
    color: $tex-abu;
  }

  .divider {
    margin: 20px 0;
  }
}


.section-two {
  margin-top: 200px;

  .divider {
    margin: 20px 0;
  }
}