@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Mulish", sans-serif;
  background-color: #fff;
}

.navbar-light .brand {
  color: #233348;
  font-size: 24px;
}

.nav-link {
  font-size: 18px;
}

.nav-link.active {
  color: #000;
  font-weight: 700;
}

.nav-link:hover {
  color: #000 !important;
}

.navbar-nav {
  width: 58%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-hero {
  margin-top: 85px;
  position: relative;
}

.section-hero::before {
  content: '';
  position: absolute;
  background-image: url(assets/element.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 114px;
  height: 115px;
  top: -20%;
  left: 0;
}

.hero .title-text {
  font-size: 48px;
  color: #000;
  margin-bottom: 25px;
  font-weight: 800;
}

.hero .sub-title {
  color: #7D7987;
  font-size: 21px;
  margin-bottom: 45px;
}

.hero .cta {
  border-radius: 55px;
  background-color: #458FF6;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 10px 40px !important;
  color: #fff;
}

.services {
  margin-top: 180px;
}

.services .title-our {
  color: #000;
  font-weight: 700;
  font-size: 36px;
}

.services .sub-our {
  color: #7D7987;
  font-size: 18px;
  font-weight: 300;
}

.services [class*="col"] {
  padding: 5px 50px;
}
